<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Liste</title>
</head>
<body>
    <h1>{{ list.name }}</h1>
        <ul>

        {% for item in list.todoitem_set.all %}


         
        
            {% if item.done == False %}
                <li><h3>{{ item.text }}</h3></li>

                   
                <button type="submit" class="badge rounded-pill bg-warning" method="post">als erledigt markieren</button>
                {% csrf_token %}
            {% endif %}
            {% if item.done == True %}
                <li><h4><del>{{ item.text }}</del></h4></li>

                
                <button type="submit" class="badge rounded-pill bg-successs" method="post">wieder aktivieren</button>
                {% csrf_token %}
            {% endif %}

     


            {% endfor %}
        </ul>
       

</body>
</html>