<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Übersicht</title>
</head>
<body>
    <h1>Listenauswahl</h1>

    {% if lists_list %}
    <ul>
    {% for list in lists_list %}
        <li><a href="{% url 'list:detail'  list.id %}">{{ list.name }}</a></li>
        
        
    {% endfor %}
    </ul>
{% else %}
    <p>No lists are available.</p>
{% endif %}
</body>
</html>