{% extends "organize/base.html" %} 

{% block content %}

<h1>ORGANIZER INDEX TESTSEITE</h1>
<hr>

<div class="row">

    <div class="col-sm-6">
<div class="genre card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">Literatur</h2>
      <ul class="list-group list-group-flush">
        {% for book in books %}
        <li class="list-group-item"><a href="">{{book.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div> 
</div>

<div class="col-sm-6">
  <div class="genre card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">Musik</h2>
        <ul class="list-group list-group-flush">
            {% for album in albums %}
            <li class="list-group-item"><a href="">{{album.title}}</a></li>
            {% endfor %}
      </ul>
    </div>
  </div> 
</div>

<div class="col-sm-6">
  <div class="genre card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Tester</h2>
        <ul class="list-group list-group-flush">
       
        </ul>
      </div>
    </div> 
  </div>

</div>
{% endblock %}