<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ board.game_title }}</title>
</head>
<body>
    <ol>
    {% for score in scores %}
        
            <li>{{score.player_name}} : {{score.score}}</li>
        
    {% endfor %}
    </ol>
    <a href="/highscore/score_entry/{{board.id}}">Neuen Score (manuel) eintragen</a>
</body>
</html>
