<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <ul>
        {% for board in leaderboards %}

            <li><a href="/highscore/leaderboard/{{board.id}}">{{board.game_title}} - {{board.game_subtitle}}</a>, <a href="{{board.game_url}}">try the game</a></li>

        {% endfor %}
    </ul>
    <a href="/highscore/new_board/">Neues Leaderboard anlegen</a>
</body>
</html>