<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neues Board anlegen</title>
</head>
<body>
    <form action="{% url 'save_board/{{board.id}}' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Name des Spiels</span>
            <input type="text" name="game_title" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>
            
            <span class="input-group-text" id="basic-addon3">Untertitel oder Version (optional)</span>
            <input type="text" name="game_subtitle" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

            <span class="input-group-text" id="basic-addon3">Bemerkungen (optional)</span>
            <input type="text" name="note" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

            <span class="input-group-text" id="basic-addon3">url des spiels (optional)</span>
            <input type="text" name="game_url" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

            <span class="input-group-text" id="basic-addon3">Passwort zum editieren des Boards</span>
            <input type="password" name="edit_pw" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

            <span class="input-group-text" id="basic-addon3">Passwort zum eintragen in das Board</span>
            <input type="password" name="submit_pw" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

        </div>
        <input type="submit" value="Create">
    </form>
</body>
</html>
