<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <table>
        <tr><th>Feld</th><th>Value</th></tr>
        <tr><td>Name</td><td>{{todo.name}}</td></tr>
        <tr><td>Status</td><td>{{todo.status}}</td></tr>
        <tr><td>Deadline</td><td>{{todo.deadline}}</td></tr>
        <tr><td>Description</td><td>{{todo.description}}</td></tr>
        <tr><td>Kategorie</td><td>{{todo.category}}</td></tr>
        </tr>
      </table>
</body>
</html>