<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
</head>
<body>
    <h1>Todo-List</h1>
<table>
    <tr><th>Name</th><th>Status</th><th>Deadline</th><th>Action</th></tr>
  {% for todo in todos %}
  <tr>
    <td><a href="{% url 'todo_list:detail' todo.id %}">{{todo.name}}</a></td>
    <td>{{todo.status}}</td>
    <td>{{todo.deadline}}</td>
    <td>
      <form action="{% url 'todo_list:status_change' todo.id %}" method="post">
        {% csrf_token %}
        <select name="status">
          {% for item in todo.status_choices %}
          <option value="{{item.0}}">{{item.1}}</option>
          {% endfor %}
          </select>
        <input type="submit" value="Change">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<form action="{% url 'todo_list:new' %}" method="post">
    {% csrf_token %}
    <label>Name</label><input type="text" name="name"><br>
  
    <label>Beschreibung</label><input type="text" name="description"><br>
  
    <label>Status</label>
    <select name="status">
      {% for item in status_choices %}
        <option value="{{item.0}}">{{item.1}}</option>
      {% endfor %}
    </select><br>
  
    <label>Kategorie</label>
    <select name="category">
      {% for item in categories %}
      <option value="{{item.id}}">{{item}}</option>
      {% endfor %}
    </select><br>
  
    <label>Deadline</label>
    <input type="date" name="deadline">
    <input type="submit" value="Anlegen">
  </form>
</body>
</html>