{% extends 'kasten/header.html'%}
{% block content %}
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Sortierung</option>
        <option value="1">Tags alphabetisch</option>
        <option value="2">Erstellungsdatum</option>
        <option value="3">Fälligkeitsdatum</option>
        <option value="4">Person alphabetisch</option>
      </select>


    
    <h3>Zettel:</h3>
    <div class="note-container">
    <div class="container d-flex flex-wrap">
        {% for note in notes %}
        <div class="card text-dark bg-light m-2" style="max-width: 18rem;">
            <div class="card-header"><a class="text-dark" href="{% url 'note' note.id %}">{{note.title}}</a></div>
            <!---->
            <div class="card-body">
              <h5 class="card-title"> 
             {%for tag in note.tags.all %}
             #{{ tag }}
             {% endfor %}
              </h5>
              <p class="card-text">{{note.content}}</p> <hr>
              <p></p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    </div>
    <div class="create">
        <h3>neuen Zettel anlegen</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Titel..."><br><br>
            <input type="text" name="content" placeholder="Notiz ..."><br><br>
           <!-- <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Tags</option>
               # {% for tag in tags %}
                <option value="1">{{tag.name}}</option>
              #  {% endfor %}
              </select><br><br> -->
            <label for="due_date">deadline:</label>
            <input type="date" id="due_date" name="due_date"><br><br>
            <input type="submit" value="Notitz speichern">
    </div>
    <div>
        {% include 'kasten/tag_list.html' %}
    </div>
{% endblock %}
