{% extends 'kasten/header.html'%}
{% block content %}
    
    {% for note in notes %}
        
        <ul>
                <li><a class="text-dark" href="{% url 'note' note.id %}">{{note.title}}</a></li>
                </ul>
    {% endfor %}
    {% endblock %}
