{% extends 'kasten/header.html'%}
{% block content %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 33rem;">
        <div class="card-header">{{ note.title }}</div>
        <div class="card-body">
          <h5 class="card-title">{% for tag in tags %}
             #{{ tag.name }}
              {% endfor %}
          </h5>
          <p class="card-text">{{ note.content }}</p>
        </div>
{% endblock %}