{% for tag in tags %}
{% if tag.type == 'Person' %}
<a href="">{{tag.name}}</a>
{% endif %}
{% endfor %}

<hr>

{% for tag in tags %}
{% if tag.type == 'Kategorie' %}
<a href="">{{tag.name}}</a>
{% endif %}
{% endfor %}
<hr>

{% for tag in tags %}

<a href="{% url 'taged-notes' tag.id %}">{{tag.name}}</a>

{% endfor %}