<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="note-container">
        <div class="container d-flex flex-wrap">
            {% for note in notes %}
            <div class="card text-dark bg-light m-2" style="max-width: 18rem;">
                <div class="card-header"><a class="text-dark" href="{% url 'note' note.id %}">{{note.title}}</a></div>
                <!---->
                <div class="card-body">
                  <h5 class="card-title"># 
                 {%for tag in note.tags.all %}
                 {{ tag }}
                 {% endfor %}
                  </h5>
                  <p class="card-text">{{note.content}}</p> <hr>
                  <p></p>
                </div>
            </div>
            {% endfor %}
        </div>
        
        </div>
</body>
</html>