<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>{{shop.name}}</title>
</head>
<body>
    <h1>{{ shop.name }}</h1>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Unit</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Note</th>
            <th scope="col">Status</th>
            <th scope="col">Change Status</th>
            <th scope="col">Delete Item</th>
          </tr>
        </thead>
        <tbody>
        {% for product in shop.product_set.all %}
            
                {% if product.status == "B" %}
                <tr>
                    <th scope="row">{{ product.amount }}</th>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.note }}</td>
                    <td>needed</td>
                    <td>   
                        <form action="{% url 'ek_list:status_change' product.id %}" method="post">
                        {% csrf_token %}
                        <select name="status">
                          {% for item in product.status_choices %}
                          <option value="{{item.0}}">{{item.1}}</option>
                          {% endfor %}
                          </select>
                        <input type="submit" value="Change">
                      </form>
                    </td>
                    <td>
                      <form action="{% url 'ek_list:delete_item' product.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </td>
                </tr>
                {% endif %}

                {% if product.status == "D" %}
                <tr>
                    <th scope="row">{{ product.amount }}</th>
                    <td>{{ product.unit }}</td>
                    <td><del>{{ product.name }}</del></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.note }}</td>
                    <td>allready bought</td>
                    <td>   
                        <form action="{% url 'ek_list:status_change' product.id %}" method="post">
                        {% csrf_token %}
                        <select name="status">
                          {% for item in product.status_choices %}
                          <option value="{{item.0}}">{{item.1}}</option>
                          {% endfor %}
                          </select>
                        <input type="submit" value="Change">
                      </form>
                    </td>
                    <td>
                      <form action="{% url 'ek_list:delete_item' product.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </td>
                </tr>
                {% endif %}

                {% if product.status == "C" %}
                <tr class="table-secondary">
                    <th scope="row"><del></del>{{ product.amount }}</th>
                    <td><del>>{{ product.unit }}</del></td>
                    <td><del>{{ product.name }}</del></td>
                    <td><del>{{ product.price }}</del></td>
                    <td><del>{{ product.note }}</del></td>
                    <td>canceled</td>
                    <td>   
                        <form action="{% url 'ek_list:status_change' product.id %}" method="post">
                        {% csrf_token %}
                        <select name="status">
                          {% for item in product.status_choices %}
                          <option value="{{item.0}}">{{item.1}}</option>
                          {% endfor %}
                          </select>
                        <input type="submit" value="Change">
                      </form>
                    </td>
                    <td>
                      <form action="{% url 'ek_list:delete_item' product.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </td>
                </tr>
                {% endif %}
          
        {% endfor %}
        </tbody>
    </table>

      <h2>Create New Product</h2>
      
      <form action="{% url 'ek_list:new' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Amount</span>
            <input type="text" name="amount" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>
            
            <span class="input-group-text" id="basic-addon3">Unit</span>
            <input type="text" name="unit" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

            <span class="input-group-text" id="basic-addon3">Product</span>
            <input type="text" name="name" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

            <span class="input-group-text" id="basic-addon3">Price</span>
            <input type="number" name="price" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>
            
            <span class="input-group-text" id="basic-addon3">Note</span>
            <input type="text" name="note" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>
        </div>
        <label>Status</label>
        <select name="status">
          {% for item in status_choices %}
            <option value="{{item.0}}">{{item.1}}</option>
          {% endfor %}
        </select><br>
        <label>Shop</label>
        <select name="shop">
          {% for shop in shops %}
          <option value="{{shop.id}}">{{shop}}</option>
          {% endfor %}
        </select><br>
        <input type="submit" value="Create">
      </form>
    
</body>
</html>