<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ board.game_title }}</title>
</head>
<body>
    <h1>{{board.game_title}}-Highscore</h1>
    <strong>API Link:</strong> <a href="/boards/api_v1_boards/{{ board.id }}">Right click to copy!</a>
    <ol>
    {% for score in scores %}
        
            <li> <strong>Name: </strong>{{score.player_name}}  <br>
                <strong>Score: </strong> {{score.score}} <br>
                <strong>Time:</strong> {% if score.playtime %}  {{score.playtime}}  {% endif%}</li>
            <hr>
        
    {% endfor %}
    </ol>
    <a href="/highscore/score_entry/{{board.id}}">Neuen Score (manuel) eintragen</a>
</body>
</html>
