<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <h1>Spiele/Leaderboards</h1>
    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Version</th>
                <th>Try Game</th>
            </tr>
        
    
            {% for board in leaderboards %}
            <tr>
                <td><a href="/highscore/leaderboard/{{board.id}}">{{board.game_title}}</a></td>
                <td>{{board.game_subtitle}}</td>
                <td><a href="{{board.game_url}}">Play</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>>
    <a href="/highscore/new_board/">Neues Leaderboard anlegen</a>
</body>
</html>