<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'highscore:new_entry' board.id %}" method="post"> 
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Name</span>
            <input type="text" name="player_name" placeholder="Name" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>
            
            <span class="input-group-text" id="basic-addon3">Score</span>
            <input type="text" name="score"  placeholder="Score" class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>

            <span class="input-group-text" id="basic-addon3">Spielzeit(optional -hh:mm:ss)</span>
            <input type="text" name="playtime"  placeholder="Time"class="form-control" id="basic-url" aria-describedby="basic-addon3"><br>
        </div>
        <input type="submit" value="Create">
    </form>
</body>
</html>